@font-face {
  font-family: "Roboto Slab";
  src: url("../../vendor/Fonts/roboto-slab-400-regular.woff2") format("woff2");
}
.newscards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.newscards__list > :last-child {
  justify-self: center;
}
.newscards__show-more {
  margin: 50px 0 0 0;
  width: 288px;
  height: 64px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
.newscards__title {
  font-family: Roboto Slab, "arial", "sans-serif";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin: 80px 0 64px 0;
}
.newscards {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.newscards > :last-child {
  align-self: center;
}
.newscards__preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
