.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1385px;
  font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: bottom;
  padding: 0 104px;
}
.footer__developer {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #b6bcbf;
}
.footer__social {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  justify-content: space-between;
  gap: 40px;
}

.footer__year {
  width: 105px;
  height: 39px;
}
.footer__icons {
  display: flex;
  gap: 24px;
}
.footer__social {
  display: flex;
}
.footer__paragraph {
  margin: 0;
}
.footer__pages {
  display: flex;
  gap: 40px;
}
.footer__paragraph:hover {
  opacity: 0.5;
}
#github-id:hover {
  opacity: 0.5;
}

#facebook-id:hover {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .footer {
    padding: 0 40px;
  }
}
@media (max-width: 320px) {
  .footer {
    padding: 0 16px;
    flex-direction: column-reverse;
  }
  .footer__icons {
    justify-items: flex-start;
  }
  .footer__pages {
    flex-direction: column;
  }
  .footer__social {
    align-items: flex-start;
    gap: 0;
  }
  .footer__developer {
    margin: 38px 0 0 0;
  }
}
